{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- Discord metadata -->
    <meta property="og:title" content="Look At My Leaderboard">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://leaderboard.koldfusion.xyz/">
    <meta property="og:description" content="A simplistic website devoted to collecting and displaying stats">

    <!-- Static files -->
    <link rel="stylesheet" href="{% static 'base/style.scss' %}">
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>